<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>用户管理 - 用户列表</title>
</head>
<body>
	<div>
		<h1>
			用户管理 <small> <i class="icon-double-angle-right"></i> 用户列表
			</small>
		</h1>
	</div>
	<div >
		<div class="pull-right">
			<a href="form.html" th:href="@{/admin/user/(form)}">Create User</a>
		</div>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<td>ID</td>
					<td>username</td>
					<td>password</td>
					<td>createDate</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${users.empty}">
					<td colspan="3">No users</td>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}">1</td>
					<td><a href="view.html" th:href="@{'/admin/user/' + ${user.id}}"
						th:text="${user.username}"> The username </a></td>
					<td th:text="${user.password}"> The password </td>
					<td th:text="${#calendars.format(user.createDate, 'yyyy-MM-dd HH:mm:ss')}">
						2016-10-10 10:10:10
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>